/*Generale*/

:root {
	
	--background-color:#F6EAD4;
	--background-color-second:#DBB591;
	--text-color:#163084;
	--second-color:#3E85D5;
	
	--font:'Prompt', sans-serif; 
}

.flex-maker-center{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

body{
	background-color: var(--background-color);
	font-family: var(--font);
	color: var(--text-color);
}

a{
	color: var(--text-color);
}

a:hover {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

/*Text*/

.text-presentation{
	padding: 10px 25px;
	width: 100%;
}

h1{
	padding-bottom: 60px;
	
	text-transform: uppercase;
}

p{
	padding-left: 30px;
	font-size: 1.5em;
}


/************* Menu ****************/

.nav-wrapper{
	width: 100%;
	margin: 30px 0 0 5px;

	
	bottom:0;
	justify-content: space-around;
} 

.nav-item{
	margin: 10px;

	letter-spacing: 1px;
	font-family: var(--font);
	font-size: 20px;
}

.navbar{
	width: 100%;
	padding: 0px;
	background-color:var(--background-color)!important;
}

/*****/

.text-menu-btns{
	width: 90%;
}

/*Lg desktop*/
@media(min-width: 1538px){
	.text-menu-btns{
		width: 50%;
	}
}

.menu{
	letter-spacing: 1px;
	font-size: 20px;
}

.btns{
	width: 100%;
	padding-top: 200px;

	display: flex;
	justify-content: space-around;
	bottom: 0;
}

/*Photo*/
.picture-me{
	padding: 40px;
	display: none;
	width: 50%;
}
/*Shown for lg*/
@media(min-width: 1538px){
	.picture-me{
		display: flex;
	}
}


/*Rounded photo: sm and md*/
/*Container*/
.photo-rounded{
	width: 100%;
	padding-top: 60px; 
	padding-bottom: 20px; 
}

.photo-rounded img{
	border-radius: 50%;
}

/*hidden*/
@media(min-width: 1538px){
	.photo-rounded{
		display: none;
	}
}