/*Generale*/

:root {
	
	--background-color:#F6EAD4;
	--background-color-second:#DBB591;
	--text-color:#163084;
	--second-color:#3E85D5;
	
	--font:'Prompt', sans-serif; 
}

body{
	background-color: var(--background-color);
	font-family: var(--font);
	color: var(--text-color);
}

/*Main*/

/*general container*/
.pres-wrapper{
	width: 100%;
	align-items: center;

	background-color: var(--back);
}
.pres-wrapper h1{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 45px;

	text-transform: uppercase;
	text-align: center;
}
/*Text container*/
.text-presentation{
	padding: 60px;
	width: 100%;
}
/*Text container md and lg*/
@media(min-width: 683px){
	.text-presentation{
		padding: 60px;
		width: 50%;
	}
}
.text-presentation p{
	font-size: 20px;
}

/*Photo*/
.picture-me{
	display: none;
	width: 100%;
}
.picture-me img{
	width: 50%;
	height: 100%;
}
/*Photo non visible for sm and md*/
@media(min-width: 1538px){
	.picture-me{
	width: 50%;
	display: block;
	}
}