/*Generale*/

:root {
	
	--background-color:#F6EAD4;
	--background-color-second:#DBB591;
	--text-color:#163084;
	--second-color:#3E85D5;
	
	--font:'Prompt', sans-serif; 
}

body{
	background-color: var(--background-color);
}


/*Header*/



/*Main*/