/*General*/
:root {
	
	--background-color:#F6EAD4;
	--background-color-second:#DBB591;
	--text-color:#163084;
	--second-color:#3E85D5;

	--font:'Prompt', sans-serif; 
}

body{
	background-color: var(--background-color);

	font-family: var(--font);
}

a{
	color: var(--text-color);
}

a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
h3,h4{
	color: var(--text-color)!important;
}

h4{
	font-weight: bold;
	letter-spacing: 1px;
}

.flex-maker{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-maker-center{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/*Head*/

.background-picture{
	display: none;
	height: 50px;
	width: 100%;
}
.background-picture img{
	width: 100%;
	height: 250px;

	border: 3px solid var(--text-color);
}

.heading-wrapper div{
	display: none;
	width: 70%;

	background-color: var(--background-color);
	border: 3px solid var(--text-color);

}

/*Md and Lg*/
@media(min-width: 768px){
	.heading-wrapper div{
		display: block;
	}
}

/*Experience heading - sm*/
.small-size{
	margin: 20px 0;
	padding: 20px 40px;

	letter-spacing: 3px;
	font-size: 40px;
	color: var(--text-color);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

/*Md*/
@media(min-width: 768px){
	.small-size{
		display: none;
	}
}

/*Experience heading for md-lg*/
.experience-heading{
	margin: 20px 0;
	padding: 20px 40px;

	letter-spacing: 3px;
	color: var(--text-color);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

@media(min-width: 768px){
	.background-picture{
		display: block;
	}
}
/*Main*/

/*General wrapper*/

.timeline{
	margin-top: 65px;
	padding: 30px 10px;

	position: relative;
}

/*the middle line - hidden*/
.timeline:before{
	display: none;
	width: 5px;
	margin-left: -2.5px;
	top: 0;
	bottom: 0;

	position: absolute;
	content: " ";
	left: 50%;

	background-color:var(--second-color);
}
/*display the middle line*/
@media(min-width: 768px){
	.timeline:before{
		display: block;
	}
}

.timeline > li{
	margin-bottom: 20px;
	position: relative;
}

.timeline > li:after{
	clear:both;
}

.timeline > li:before, .timeline > li:after{
	content: " ";
	display: table;
}

/*Briefcase*/
.timeline li .timeline-badge{
	display: none;
	line-height: 50px;
	position: absolute;
	text-align: center;
	top:16px;
	left: 50%;
	margin-left: -25px;
	background-color: #F5F5F5;
}

/*display briefcase*/
@media(min-width: 768px){
	.timeline li .timeline-badge{
		display: block;
	}
}
.timeline-panel-container{
	width: 100%;
	padding: 20px 25px;
}

.timeline-panel-container-inverted{
	width: 100%;
	padding: 20px 25px;
}


/*block for md and lg*/
@media(min-width: 768px){
		.timeline-panel-container-inverted{
		width: 50%;

		float: right;
	}
}
@media(min-width: 768px){
		.timeline-panel-container{
		width: 50%;

		float: left;
	}
}
.timeline-panel{
		width: 90%;
		margin-right: 40px;
		padding: 20px 25px;

		float: right;
		position: relative;
		border-left: 2px solid var(--text-color);
		
		box-shadow: 7px 7px 2px 1px rgba(26, 30, 77, 0.175);
		background-color: #F9F5E4;
	}

.timeline-body p{
	color: var(--text-color);
}

@media(min-width: 768px){
	.timeline-panel-container-inverted .timeline-panel:after{
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}


.timeline-heading h3{
	margin-top: 5px;
	font-size: 20px;

}
.timeline-heading h4{
	color: var(--red); 
	
}

/*Menu*/

.nav-wrapper{
	width: 100%;
	margin: 5px 0 0 5px;

	position:fixed;
	bottom:0;
	justify-content: center;
} 

.nav-item{
	margin: 10px;

	letter-spacing: 1px;
	font-family: var(--font);
	font-size: 20px;
}

.navbar{
	width: 100%;
	padding: 0px;
	background-color:var(--background-color)!important;
}


@media(min-width: 991px){
	.navbar-nav{
		padding-left: 420px;
	}
}
