/*Generale*/

:root {
	
	--background-color:#F6EAD4;
	--background-color-second:#DBB591;
	--text-color:#163084;
	--second-color:#3E85D5;
	
	--font:'Prompt', sans-serif; 
}

body{
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font);
}

a:hover{
	text-decoration: none;
	color: var(--text-color);
}
a{
	color: var(--text-color);
}

.flex-maker{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-maker-center{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-maker-space-around{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}



/*Main*/

/*Background oictures*/
.img-vague{
	width: 100%;
	height: 100%;

	border: 2px solid var(--text-color);
}

.pictures{
	position: fixed;
}

.education-vague-wrapper{
	width: 100%;
	margin-top: 20px; 
	margin-bottom: 20px;
	padding: 120px 120px;
}

.wrapper-picture{
	justify-content: space-around !important;
}

@media(min-width: 1538px){
	.education-vague-wrapper{
		width: 30%;
	}
}

.education{
	width: 100%;
	padding-bottom: 60px;

	background-color: var(--background-color);
}


h1{
	width: 100%;
	margin: 20px 0;
	padding-top: 20px;
	padding-bottom: 80px;

	color:var(--text-color);
	text-align: center;
	text-transform: uppercase;
}

.education-block{
	width: 100%;
	background-image: url('../images/theme/themeCard.jpg');
	

}
@media(min-width: 1538px){
	.education-block{
		padding: 20px 40px;
		width: 400px;

		border:2px solid var(--text-color);
	}
}

.education-block-wrapper{

	width: 100%;

	padding-top: 20px;
	background-color:var(--second-color);
	text-align: center;
	border:2px solid #ccc;
	border-radius: 10px;
}
.red{
	color: var(--red);
}
#uspu{
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
/*Lg text formation wrapper*/
@media(min-width: 1545px){
	.education-block-wrapper{
		width: 100%;
		height: 95%;

		margin-left: 40px;
		margin-top: 40px;
		box-shadow: 0 0 8px 8px var(--text-color);
	}
}
/*cards hovered*/

@media(min-width: 1545px){
	.education-block-wrapper:hover{
	transition: 1s;
	margin-top: 70px;
	box-shadow: 0 0 15px 15px var(--text-color);
	}
}


/*Lg img container - general wrapper*/

@media(min-width: 1538px){
	.education-block-wrapper-extern{
		width: 100%;
		padding-left: 200px;
	}
}

.education-block-wrapper h5{
	position: center;

	color: var(--background-color);
	opacity: 0.7;
}
.education-block-wrapper h4{
	color: var(--background-color);
}
.education-block-wrapper h3{
	padding: 20px;
	position: center;

	color: var(--background-color);
}

/*Btns*/
.cv{
	padding: 10px 10px;

	color: var(--background-color);
	font-weight: bold;
	border-radius: 50%;
	background-color: var(--second-color);
}

.cv:hover{
	color: var(--background-color);
	box-shadow: 3px 3px rgba(26, 30, 77, 0.175); 
	cursor: pointer;
}

.btns{
	width: 100%;
	margin-top: 50px;
}


.menu{
	letter-spacing: 1px;
	font-size: 20px;
}

.btns{
	width: 100%;

	display: flex;
	position: fixed;
	bottom: 0;
	justify-content: space-around;
}