/*Generale*/

:root {
	
	--background-color:#F6EAD4;
	--background-color-second:#DBB591;
	--text-color:#163084;
	--second-color:#3E85D5;
	
	--font:'Prompt', sans-serif; 
}

body{
	height: 100%;
	background-color: var(--background-color);
}

.flex-maker{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-maker-center{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/*------------ Presentation -------------*/
.presentation-wrapper{
	width: 100%;
}

/*------------ Stage -------------*/
.stage-wrapper{
	width: 100%;
}
.stage-wrapper p{
	width: 80%;
}

/*------------ Menu -------------*/
.menu-bar{
	position:fixed;
	bottom:0;
	width:100%;
}
