/*Generale*/

:root {
	
	--background-color:#F6EAD4;
	--background-color-second:#DBB591;
	--text-color:#163084;
	--second-color:#3E85D5;
	
	--font:'Prompt', sans-serif; 
}

body{
	height: 100%;
	background-color: var(--background-color);
	font-family: var(--font);
	color: var(--text-color);
}

.flex-maker{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-maker-center{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/*------------ Presentation -------------*/
.presentation-wrapper{
	width: 80%;
	margin-left: 150px;
	padding-top: 250px;
}

h3{
	font-size: 35px;
}

.bonjour{
	padding-left: 250px;

	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	opacity: 0.4;
}

h1{
	padding-left: 300px;
	padding-top: 15px;

	font-size: 55px;
	font-weight: bolder;
	letter-spacing: 2px;
}
.dev{
	padding-left: 370px;
	padding-top: 15px;
}

/*------------ Stage -------------*/
.stage-wrapper{
	width: 100%;
	padding-top: 70px;
	padding-left: 200px;
}
.stage-wrapper p{
	width: 80%;
	margin: 20px;

	font-size: 25px;
}
.stage-wrapper p span{
	padding: 10px 15px;

	background-color: var(--background-color-second);
}
.dates{
	padding-left: 70px;
}

/*------------ Menu -------------*/

.nav-wrapper{
	margin: 5px 0 0 5px;

	position:fixed;
	bottom:0;
	justify-content: space-around;
} 

.nav-item{
	margin: 10px;

	letter-spacing: 1px;
	font-family: var(--font);
	font-size: 20px;
}

.navbar{
	width: 100%;
	padding: 0px;
	background-color:var(--background-color)!important;
}

