/*Generale*/

:root {
	
	--background-color:#F6EAD4;
	--background-color-opacity: rgba(246, 234, 212, 0.9);

	--background-color-second:#DBB591;
	--text-color:#163084;
	--second-color:#3E85D5;
	--text-shadow:#EFD0A1;
	
	--font:'Prompt', sans-serif; 
}

body{
	height: 100%;
	padding-top: 200px;	


	background-image: url('../images/theme/theme.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	font-family: var(--font);
}

a{
	color: var(--text-color);
}

a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.flex-maker{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-maker-center{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/*Main*/
.wrapper{
	width: 100%;
	padding: 20px 0;

	text-align: center;
	background-color: var(--background-color-opacity);
	border-radius: 20px;
	border: 5px solid var(--background-color);
}
/*Md vp*/
@media(min-width: 768px){
	.wrapper{
		width: 70%;
	}
}
/*Lg vp*/
@media(min-width: 1267px){
	.wrapper{
		width: 30%;
	}
}
.menu-item{
	width: 100%;
	padding: 15px 0;
}
.menu-item a{
	color: var(--text-color);
	letter-spacing: 3px;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 4px 4px var(--text-shadow);
}

.menu-item a:hover{
	color: var(--second-color);
	text-shadow: 6px 6px var(--text-shadow);
}

.cv{
	padding: 20px 0;
}
.cv a{
	padding: 10px;

	color: var(--background-color);
	font-weight: bold;
	border-radius: 50%;
	background-color: var(--second-color);
}

	.cv a:hover{
		color: var(--background-color);
		box-shadow: 3px 3px rgba(26, 30, 77, 0.175); 
		cursor: pointer;
}