
:root {

  --background-color:#F6EAD4;
  --background-color-second:#DBB591;
  --text-color:#163084;
  --second-color:#3E85D5;

  --font:'Prompt', sans-serif;
}


html {
  background: no-repeat url("../images/theme/desert.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}


body{
  background: none;
}

.container-fluid{
  height: 100vh;
}

#generalWrapper{
  height: 60%;
  padding-top: 6rem;
}

/*Nav*/

#navbarResponsive{
  margin: 10px;
  letter-spacing: 1px;
  font-family: var(--font);
  font-size: 20px;
}


/*Text*/
h1{
  font-size: 4rem;
  text-shadow: #163084 1px 1px 1px;
}

p{
  font-size: 3rem;
  font-weight: bold;
  padding-top: 1rem;
  color: white;
}

.btn-xl{
  padding: 1.25rem 2.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.lookingForMessage{
  display: flex;
  justify-content: space-around;
}


#lookingFor{
  width: 14rem;
  height: 14rem;
  display: none;


}

#availability{
  width: 14rem;
  height: 14rem;
  display: none;
}
